<!DOCTYPE html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <style>
    .node rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }

    .node text {
      pointer-events: none;
      text-shadow: 0 1px 0 #fff;
    }

    .link {
      fill: none;
      stroke: #000;
      stroke-opacity: .2;
    }

    .link:hover {
      stroke-opacity: .5;
    }

    body,
    html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url("../static/background.png");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>


  <title>Team Overview</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <div id="_mscontent">
    <div class="bg" style="display: flex; position: relative;">
      <div class="row" style="background-color: rgba(255,255,255,0.82); display: flex; vertical-align: middle; margin: auto !important;">
        <div class="col s8">
          <p id="chart"></p>
        </div>
        <div class="col s4">
          <div class="row" style="padding-top: 20px">
            <canvas id="workers"></canvas>
          </div>
          <div class="row" style="padding-top: 70px">
            <canvas id="tasks"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script>
    data = {
      datasets: [{
        data: [25, 20, 15, 15, 11, 14],

        backgroundColor: [
          'rgb(31, 119, 180)',
          'rgb(255, 127, 14)',
          'rgb(174, 199, 232)',
          'rgb(255, 187, 120)',
          'rgb(44, 160, 44)',
          'rgb(197, 176, 213)'
        ]
      }],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
        'Stone dusting',
        'Vent tubes',
        'Mucking',
        'Grouting',
        'Consumables',
        'Services'
      ]
    };

    var ctx = document.getElementById("tasks");
    var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          position: 'right'
        }
      }
    });
  </script>
  <script>
    data = {
      datasets: [{
        data: [20, 20, 15, 10, 10, 8, 8, 6, 3],

        backgroundColor: [
          'rgb(247, 182, 210)',
          'rgb(127, 127, 127)',
          'rgb(199, 199, 199)',
          'rgb(188, 189, 34)',
          'rgb(219, 219, 141)',
          'rgb(23, 190, 207)',
          'rgb(158, 218, 229)',
          'rgb(31, 119, 180)',
          'rgb(174, 199, 232)'
        ]
      }],

      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
        'Lawrence',
        'Dan',
        'Alex',
        'Anton',
        'Stewart',
        'Scott',
        'Mats',
        'Michael',
        'Lauren'
      ]
    };

    var ctx = document.getElementById("workers");
    var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: data,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          position: 'right'
        }
      }
    });
  </script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="../static/sankey.js"></script>
  <script>

    var units = "Widgets";

    var margin = { top: 10, right: 10, bottom: 10, left: 10 },
      width = 1200 - margin.left - margin.right,
      height = 740 - margin.top - margin.bottom;

    var formatNumber = d3.format(",.0f"),    // zero decimal places
      format = function (d) { return formatNumber(d) + " " + units; },
      color = d3.scale.category20();

    // append the svg canvas to the page
    var svg = d3.select("#chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

    // Set the sankey diagram properties
    var sankey = d3.sankey()
      .nodeWidth(36)
      .nodePadding(10)
      .size([width, height]);

    var path = sankey.link();

    // load the data
    d3.json("../static/sankeygreenhouse.json", function (error, graph) {

      var nodeMap = {};
      graph.nodes.forEach(function (x) { nodeMap[x.name] = x; });
      graph.links = graph.links.map(function (x) {
        return {
          source: nodeMap[x.source],
          target: nodeMap[x.target],
          value: x.value
        };
      });

      sankey
        .nodes(graph.nodes)
        .links(graph.links)
        .layout(32);

      // add in the links
      var link = svg.append("g").selectAll(".link")
        .data(graph.links)
        .enter().append("path")
        .attr("class", "link")
        .attr("d", path)
        .style("stroke-width", function (d) { return Math.max(1, d.dy); })
        .sort(function (a, b) { return b.dy - a.dy; });

      // add the link titles
      link.append("title")
        .text(function (d) {
          return d.source.name + " → " +
            d.target.name + "\n" + format(d.value);
        });

      // add in the nodes
      var node = svg.append("g").selectAll(".node")
        .data(graph.nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("transform", function (d) {
          return "translate(" + d.x + "," + d.y + ")";
        })
        .call(d3.behavior.drag()
          .origin(function (d) { return d; })
          .on("dragstart", function () {
            this.parentNode.appendChild(this);
          })
          .on("drag", dragmove));

      // add the rectangles for the nodes
      node.append("rect")
        .attr("height", function (d) { return d.dy; })
        .attr("width", sankey.nodeWidth())
        .style("fill", function (d) {
          return d.color = color(d.name.replace(/ .*/, ""));
        })
        .style("stroke", function (d) {
          return d3.rgb(d.color).darker(2);
        })
        .append("title")
        .text(function (d) {
          return d.name + "\n" + format(d.value);
        });

      // add in the title for the nodes
      node.append("text")
        .attr("x", -6)
        .attr("y", function (d) { return d.dy / 2; })
        .attr("dy", ".35em")
        .attr("text-anchor", "end")
        .attr("transform", null)
        .text(function (d) { return d.name; })
        .filter(function (d) { return d.x < width / 2; })
        .attr("x", 6 + sankey.nodeWidth())
        .attr("text-anchor", "start");

      // the function for moving the nodes
      function dragmove(d) {
        d3.select(this).attr("transform",
          "translate(" + (
            d.x = Math.max(0, Math.min(width - d.dx, d3.event.x))
          ) + "," + (
            d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))
          ) + ")");
        sankey.relayout();
        link.attr("d", path);
      }
    });

  </script>

  <!-- MindSphere OS bar -->
  <script src="https://static.eu1.mindsphere.io/osbar/js/main.min.js"></script>
  <script>
    _msb.init({
      title: "Team Overview",
      appId: "_mscontent"
    });
  </script>

</body>

</html>