{% extends 'main.html' %} {% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/home">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/analytics">Analytics</a>
    </li>
    <li class="breadcrumb-item active">Trend Prediction</li>
</ol>
<div id="like_button_container"></div>

<!-- react -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script src="../static/like_button.js"></script> {% endblock %}