{% extends 'main.html' %} {% block body %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">Analytics</li>
</ol>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="icon float-right" data-feather="alert-triangle"></i> Anomoly Detection
      </div>
      <div class="card-body">
        <p style="text-align:justify">
          The Anomaly Detection Service uses a density-based clustering approach to detect anomalous behaviour. The clustering is done
          in a training with historical data and leads to a model for time series data considered normal.
        </p>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Begin</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="icon float-right" data-feather="trending-up"></i> Trend Prediction
      </div>
      <div class="card-body">
        <p style="text-align:justify">
          The Prediction Service is a data-driven approach that can be applied to univariate (single input variable) or multivariate
          (multiple input variables) time-series data. The predicted output is always univariate and written to a single
          target variable.
        </p>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Begin</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="icon float-right" data-feather="activity"></i> Signal Validation
      </div>
      <div class="card-body">
        <p style="text-align:justify">
          Time series data are used as input for signal validation. Depending on the property set, a time series consists of a time
          stamp and one or more related properties and values. If a time series has multiple properties, you have to define
          it.
        </p>
        <a href="https://sildevms-pythonhelloiot-sildevms.eu1.mindsphere.io/signalvalidation/b08d74e0aa154814a830286c47f22b59/WeatherTemperature?validationtype=detectrangeviolations&from=2018-05-29T05%3A58%3A46Z&to=2018-06-28T05%3A58%3A46Z&variableName=Temperature&lowerLimit=10&upperLimit=15&preset=Last+7+Days&from=&to=&select=&shift="
          class="btn btn-secondary btn-lg btn-block">Begin</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="icon float-right" data-feather="bar-chart-2"></i> Event Analytics
      </div>
      <div class="card-body">
        <p style="text-align:justify">
          By analyzing event data, we can uncover useful patterns between emitted events. It can help us to better understand the system's
          behaviour and drastically increase the effectiveness of system management and support reasoning.
        </p>
        <a href="#" class="btn btn-outline-secondary btn-lg btn-block">Coming Soon</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="icon float-right" data-feather="check-square"></i> KPI Calculation
      </div>
      <div class="card-body">
        <p style="text-align:justify">
          The KPI Calculation Service computes Key Performance Indicators (KPIs) for an asset. It uses data source such as sensors,
          control events and calendar entries. It offers a set of computational procedures based on ISO 3977-9:1999.
        </p>
        <a href="#" class="btn btn-outline-secondary btn-lg btn-block">Coming Soon</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="icon float-right" data-feather="terminal"></i> Tensorflow and Keras
      </div>
      <div class="card-body">
        <p style="text-align:justify">
          Keras is a high-level neural networks API. It was developed with a focus on enabling fast experimentation. This is a demo
          of importing a pre-trained model from Keras in MindSphere and ultilizing it for image recognition.
        </p>
        <a href="https://sildevms-tensorflowbasic-sildevms.eu1.mindsphere.io/" class="btn btn-secondary btn-lg btn-block">Begin</a>
      </div>
    </div>
  </div>

</div>

</div>
{% endblock %}