{% extends 'main.html' %}

{% block body %}
<head>
        <style>
            #myChart {
                background-image: url(https://www.siemens.com/content/dam/webassetpool/mam/tag-siemens-com/smdb/software/mindsphere/keyvisuals/graphic-mindsphere-white.jpg.adapt.916.high.jpg/1509008639220.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        </style>
        <!-- <script src="{{ url_for('static', filename='utils.js')}}"></script> -->
    </head>


    <main role="main" class="inner cover">
      <h1 class="cover-heading">Testing Ground for MindSphere</h1>
    <div class="card">
            <canvas id="myChart" width="900" height="600"></canvas>
    </div>
{% endblock %}
