{% extends 'main.html' %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<div class="card">
  <div class="card-body">
    <div id="myDiv"></div>
  </div>
</div>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Graphs -->
<script>

  var Timer = 1000 // 1 second
  window.onload = ajaxUpdate(); //When page loads start the AJAX function

  //AJAX function
  function ajaxUpdate() {
    var Datastream = setInterval(IntervalFunction, Timer);
  }

  function IntervalFunction() {
    var getPlotData = $.getJSON('/data');
    getPlotData.done(function (results) {
      Plotly.newPlot('myDiv', results.data);
    });
  }
</script> {% endblock %}