{% extends 'main.html' %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
</div>
<div class="card">
  <div class="card-body">
    <div id="graph"></div>
  </div>
</div>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Graphs -->
<script>
  var getPlotData = $.getJSON('/data');
  getPlotData.done(function (results) {
    Plotly.newPlot('graph', {
      data: [{
        y: results.data[0].y,
        x: results.data[0].x
      }],
      traces: [0],
      layout: {
        title: 'Time series with range slider',
        xaxis: {
          title:"index",
          rangeslider: {}
        },
        yaxis: {
          title:"signal",
          fixedrange: true
        }
      }
    });
  });
  window.onload = function ajaxUpdate() {
    var Datastream = setInterval(function IntervalFunction() {
      var getPlotData = $.getJSON('/data');
      getPlotData.done(function (results) {
        Plotly.animate('graph', {
          data: [{ y: results.data[0].y }],
        }, {
            transition: {
              duration: 1000,
              easing: 'cubic-in-out'
            }
          })
      });
    },
      1000); // Interval time set to 1 second
  }


</script> {% endblock %}